@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    align-items: center;
    color: #202020;
}

.logo{
    font-weight: 300;
    font-size: 45px;
    color: #1e40af;

}

.nav-itens{
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-itens>li>a{
    padding-left: 25px;
    color: rgb(132,14,201);
    text-decoration: none;
    font-size: 13px;
    font-weight: 450;
}

.actions-itens{
    list-style: none;
    display: flex;
    align-items: center;
    padding-right: 25px;
}

.actions-itens>li>a{
    color: rgb(132,14,201);
    text-decoration: none;
    font-size: 13px;
    font-weight: 450;
    padding-left: 25px;
}

.cadastro{
    font-size: 13px;
    border: none;
    color: #fff;
    background-color: #1e40af;
    border-radius: 20px;
    font-family: 'poppins', sans-serif;
    cursor: pointer;
    transition: 1s background;
    margin-left: 15px;
    width: 150px;
    height: 40px;
}

.cadastro:hover{
    background-color: #38025c;
    transition: 1s background;
}

