


.titlelp2{
    font-size: 38px;
    color: #2e2785;
    text-align: center;
    margin-top: -140px;
    font-weight: 400;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.image1{
    background-image: url(../images/primeiroEmprego.jpg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    width: 270px;
    height: 200px;
    position: relative;
    display: block;
    margin: auto;
    border-radius: 15px;
    border: 1px solid rgb(132,14,201);
}
.image2{
    background-image: url(../images/design.jpg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    width: 270px;
    height: 200px;
    position: relative;
    display: block;
    margin: auto;
    border-radius: 15px;
    border: 1px solid rgb(132,14,201);
}
.image3{
    background-image: url(../images/administrativo.webp);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    width: 270px;
    height: 200px;
    position: relative;
    display: block;
    margin: auto;
    border-radius: 15px;
    border: 1px solid rgb(132,14,201);
}
.image4{
    background-image: url(../images/marketing.png);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    width: 270px;
    height: 200px;
    position: relative;
    display: block;
    margin: auto;
    border-radius: 15px;
    border: 1px solid rgb(132,14,201);
}
.image5{
    background-image: url(../images/recursosHumanos.jpg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    width: 270px;
    height: 200px;
    position: relative;
    display: block;
    margin: auto;
    border-radius: 15px;
    border: 1px solid rgb(132,14,201);
}
.image6{
    background-image: url(../images/saude.jpg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    width: 270px;
    height: 200px;
    position: relative;
    display: block;
    margin: auto;
    border-radius: 15px;
    border: 1px solid rgb(132,14,201);
}
.image7{
    background-image: url(../images/tecnologia.webp);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    width: 270px;
    height: 200px;
    position: relative;
    display: block;
    margin: auto;
    border-radius: 15px;
    border: 1px solid rgb(132,14,201);
}
.image8{
    background-image: url(../images/engenharia.jpg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    width: 270px;
    height: 200px;
    position: relative;
    display: block;
    margin: auto;
    border-radius: 15px;
    border: 1px solid rgb(132,14,201);
}

.wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
    gap:40px; /* Espaço entre os cards */
    max-width: 1200px;
    margin: auto;
    margin-bottom: -1000px;
    margin-top: 50px;
}


.content{
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    background-color: black;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    border-radius: 15px;
    margin-left: auto;
    margin-top: auto;
    opacity: 0.6;
}



.content h1{
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 20%;
    line-height: 1px;
}


.content > *{
    transform:translateY(25px);
    transition: transform 0.6s; 
}


.uu{
    background-color: black;
}

.diviser2 {
    border: none;             
    border-top: 1px solid #a8aeff; 
    width: 445%;                
    margin: 50px auto;        
}

