.titlelp3{
    margin-top: 520px;
    font-size: 38px;
    color: #2e2785;
    text-align: center;
    font-weight: 400;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.image-rating>div>img{
    
    display: flex;
    position: relative;
    margin-left: 860px;
   width: 350px;
   margin-top: 90px;
}

.image-rating>div>p{
    font-size: 21px;
    text-align: left;
    margin-left: 60px;
    font-weight: 600;
    line-height: 30px;
    margin-top: -2px;
    color: rgb(0, 0, 0);
}

.image-rating>div>h1{
    font-size: 32px;
    width: 60%;
    margin-top: -340px;
    margin-left: 60px;
    font-weight: bold;
    color: #3730a3;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.divlp3{
    width: 90%;
    height: 1200px;
    
}

.image-rating2>div>img{
    display: flex;
    margin-top: 60px;
    margin-left: -60px;
   width: 350px;
}

.image-rating2>div>h1{
    font-size: 32px;
    width: 60%;
    font-weight: bold;
    color: rgb(132,14,201);
    margin-top: -300px;
    margin-left: 400px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.image-rating2>div>p{
    font-size: 21px;
    font-weight: 200;
    width: 60%;
    font-weight: 600;
    margin-left: 400px;
    line-height: 30px;
    margin-top: -2px;
    color: #000000;
}

.image-rating3>div>img{
    
    display: flex;
    position: relative;
    margin-left: 860px;
    width: 350px;
    margin-top: 60px;
}

.image-rating3>div>h1{
    font-size: 32px;
    width: 60%;
    margin-top: -270px;
    margin-left: 60px;
    font-weight: bold;
    color: #3730a3;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image-rating3>div>p{
    font-size: 21px;
    text-align: left;
    margin-left: 60px;
    font-weight: 600;
    line-height: 30px;
    margin-top: -2px;
    color: rgb(0, 0, 0);
}

.image-rating{
    margin-bottom: 50px;
}

